#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    font-size: large;
}

h2 {
    margin-top: 5%;
}

#content img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.info {
    display: flex;
    margin: 14% 0;
}

.info i {
    font-size: 2em;
    margin-right: 15px;
    color: #00E5FF;
}

.info span {
    font-size: 1.2em;
    align-self: center;
}

footer {
    margin-top: 5%;
}