#projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
}

.project-detail {
    margin-top: 20px;
    text-align: center;
}

.project-detail h2 {
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.project-detail img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: var(--radius);
    margin-bottom: 20px;
}

.project-detail p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: left;
}